.destinations {
    &__wrapper {
        padding-top: 17px;
        padding-bottom: 80px;

        @include media-mobile {
            width: 360px;
            margin: 0 auto;
            padding-bottom: 20px;
        }
    }

    &__slider {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
        display: flex;
        overflow: hidden;
        height: 845px;
        column-gap: 60px;
        padding-top: 46px;
        margin-bottom: 24px;

        @include media-mobile {
            display: none;
        }
    }

    &__slide {
        transform: translateX(-540px);
    }

    &__img {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 718px;
        left: 15px;
    }

    &__text span {
        text-transform: uppercase;
        @extend %font-additional;
        color: $color-white;
        @include font(32px, 500, normal, 42px);
    }

    &__dots {
        width: 85px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
          @include media-mobile {
          display: none;
        }
    }

    .dot {
        border: none;
        background-color: $color-main;
        opacity: 0.5;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        cursor: pointer;
        @extend %transition;

        &--active {
            background-color: $color-main;
            opacity: 1;
        }

         @include media-mobile {
            width: 8px;
            height: 8px;
        }
    }

    &__button {
        text-align: center;
        padding-top: 40px;
          @include media-mobile {
            padding-top: 10px;
        }
    }

    &__slider-mobile {
        display: none;

        @include media-mobile {
            display: block;
            position: relative;
            width: 360px;
            height: 210px;
            overflow: hidden;
            margin-top: 20px;
        }
    }

    &__img-mobile {
        border-radius: 16px;
        position: relative;
    }

    &__text-mobile {
        position: absolute;
        top: 8px;
        left: 15px;

    }

    &__text-mobile span {
        text-transform: uppercase;
        @extend %font-additional;
        color: $color-white;
        @include font(32px, 500, normal, 42px);
    }
}