.destinations {
    &__wrapper {
        padding-top: 17px;
        padding-bottom: 80px;

        @include media-mobile {
            width: 360px;
            margin: 0 auto;
            padding-bottom: 20px;
        }
         @include media-minmobile {
           width: 300px;
        }
    }

    &__slider {
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
        display: flex;
        overflow: hidden;
        height: 845px;
        column-gap: 60px;
        padding-top: 46px;
        margin-bottom: 24px;

        @include media-mobile {
            display: none;
                max-width: 92.7%;
        }
    }

    &__slide {
  position: absolute;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
        // transform: translateX(-860px);
    }
    &__slide-left {
        transform: translateX(-10%);
    }

    &__slide-right {
        transform: translateX(10%);
    }

    &__img {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 718px;
        left: 15px;
    }

    &__text span {
        text-transform: uppercase;
        @extend %font-additional;
        color: $color-white;
        @include font(32px, 500, normal, 42px);
    }

    &__dots {
        width: 85px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include media-mobile {
            display: none;
        }
    }

    .dot {
        border: none;
        background-color: $color-main;
        opacity: 0.5;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        cursor: pointer;
        @extend %transition;

        &--active {
            @include media-mobile {
                background-color: $color-main;
            opacity: 1;
        }
        
        }
    }

    &__button {
        text-align: center;
        padding-top: 40px;

        @include media-mobile {
            padding-top: 10px;
        }
    }

    &__slider-mobile {
        display: none;

        @include media-mobile {
            display: block;
            position: relative;
            width: 360px;
            height: 210px;
            overflow: hidden;
            margin-top: 20px;
        }
         @include media-minmobile {
           height: 180px;
           width: 300px;
        }
    }

    &__slide-mobile {
            @include media-mobile {
       position: relative;
        }
    }
    &__img-mobile {
        border-radius: 16px;
        position: relative;
         @include media-minmobile {
           width: 300px;
        }
    }

 

    &__text-mobile {
        position: absolute;
        top: 8px;
        left: 15px;

    }

    &__text-mobile span {
        text-transform: uppercase;
        @extend %font-additional;
        color: $color-white;
        @include font(20px, 500, normal, 26.5px);
    }

    &__arrow-left {
        position: absolute;
        z-index: 5;
        top: 90px;
        left: 7px;
    }

    &__arrow-right {
        position: absolute;
        z-index: 5;
        top: 92px;
        left: 332px;
         @include media-minmobile {
           left: 270px;
        }
    }

    &__dots-mobile {
        position: absolute;
        z-index: 15;
        top: 190px;
        left: 162px;
        width: 36px;
        display: flex;
        justify-content: space-between;
         @include media-minmobile {
           top:150px;
           left: 132px
        }
    }

    .dot-mobile {
        border: none;
        background-color: $color-main;
        opacity: 0.5;
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;
        @extend %transition;

        &-mobile--active {
            background-color: $color-main;
            opacity: 1;
        }
    }
}

