header {
    background-image: url(../images/main.jpg);
    height: 765px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    

    @include media-mobile {
        background-image: url(../images/main-mobile.jpg);
        height: 251px;
         overflow-x:hidden;
    }
}

.header {
    background-color: $color-main;
    box-shadow: 0px 4px 4px #0D606F;
    background: rgba(242, 120, 92, 0.7);
    padding: 25px 0 24px 0;

    @include media-mobile {
        background: none;
        box-shadow: none;
        padding-top: 45px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-mobile {
            padding: 0 16px;
        }
    }

    &__mobile-logo {
        display: none;

        @include media-mobile {
            display: block;
            left: 16px;
        }
    }

    &__logo {
        font-family: 'Magra', sans-serif;
        color: $color-white;
        text-decoration: none;
        display: flex;
        @include font(32px, 600, normal, 38.8px);

        @include media-mobile {
            display: none;
        }

        &:hover {
            color: $color-hover;
            @extend %transition;
            opacity: 1;
            text-decoration: underline;
        }

        &::before {
            content: " ";
            background-image: url(../images/logo.svg);
            height: 30px;
            width: 30px;
            display: block;
            margin-right: 6px;
        }
    }

    &__button {
        @include media-mobile {
            display: none;
        }
    }
}

.navigation {
    display: flex;
    padding-right: 30px;

    @include media-mobile {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-top: 44px;
    }

    &__link {
        @include media-mobile {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            text-align: right;
            padding-right: 15px;

        }
    }
}

.header__navigation {
    @include media-mobile {
        position: fixed;
        top: 1px;
        right: 100%;
        width: 165px;
        height: 250px;
        background-color: $color-main;
        border-radius: 10px;
        z-index: 5;
        transition: left 0.9s ease;
    }
}

.header__navigation._active {
    @include media-mobile {
        right: 0;
    }
}

.link-mobile {
    display: none;

    @include media-mobile {
        display: block;
    }
}

body._lock {
    @include media-mobile {
        overflow: hidden;
    }
}

.block-page._active {
    @include media-mobile {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background:rgba(0, 0, 0, 0.5);
        transition: 0.8s all;
    }
}