.preview {
    &__content {
        width: 892px;
        height: 422px;
        padding-top: 30px;
    }

    &__text {
        font-family: 'Aleo', serif;
        font-weight: 700;
        font-style: italic;
        font-size: 20px;
        line-height: 24px;
        color: $color-white;
        margin: 0;
        padding: 35px 0 46px 0;
        letter-spacing: -0.1px;
    }

    &__form {
        position: relative;
        width: 892px;
    }
}

input {
    width: 100%;
    height: 95px;
    border-radius: 16px;
    padding: 32px 41px;
    line-height: 1;
    box-sizing: border-box;
    border: none;
    filter: opacity(70%);
    outline: none;
    letter-spacing: -0.7px;
}