.steps {
    &__wrapper {
        padding-top: 80px;
        padding-bottom: 50px;

        @include media-mobile {
            padding-top: 20px;
            padding-bottom: 0px;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 1177px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 30px;

        @include media-mobile {
            width: 360px;
            padding-top: 20px;
            padding-bottom: 4px;
        }
         @include media-minmobile {
           justify-content: flex-start;
        }


        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-mobile {
                align-items: flex-start;
            }
        }

        &-first {

            @include media-mobile {
                align-items: stretch;
                padding: 0px 0px 0px 0px;
                max-width: 75px;
            }
        }

        &-middle {
            margin-left: 66px;

            @include media-mobile {
                margin: 0px 0px 0px 16px;
                align-items: center;
            }
        }

        &-last {
            @include media-mobile {
                align-items: flex-end;
                text-align: right;
                padding: 0px 0px 0px 0px;
                max-width: 90px;
            }
        }
    }

    &__icons-square {
        width: 100px;
        height: 100px;
        border-radius: 16px;
        background-color: $color-main;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        margin-bottom: 30px;

        @include media-mobile {
            width: 70px;
            height: 70px;
            margin-bottom: 20px;

            object {
                width: 35px;
                height: 31.5px;
            }
        }
    }

    &__text-mobile {
        @include media-mobile {
            @include font(10px, 400, normal, 12px);
        }
    }

    &__text-first {
        @include media-mobile {
            width: 85px;
        }
    }

    &__text-middle {
        @include media-mobile {
            width: 111px;
        }
    }

    &__text-last {
        @include media-mobile {
            margin-left: 43px;
        }
    }
}