html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
  overflow-x: hidden;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.footer__text, .destinations__text-mobile span, .destinations__text span, .button_long, .button, .navigation__link, h2 {
  font-family: "Red Hat Text", sans-serif;
}

.destinations .dot-mobile, .destinations .dot, .header__logo:hover, .button:hover, .navigation__link:hover {
  transition: all 0.3s;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Aleo", serif;
}

h1 {
  color: #FFFFFF;
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  font-style: normal;
  line-height: 96px;
}

h2 {
  text-transform: uppercase;
  color: #F2785C;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 52.92px;
}
@media (max-width: 390px) {
  h2 {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 18.52px;
  }
}

h3 {
  color: #0D606F;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  line-height: 42px;
  padding-bottom: 23px;
}
@media (max-width: 390px) {
  h3 {
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    line-height: 13px;
    padding-bottom: 10px;
  }
}

p {
  color: #0D606F;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.navigation__link {
  color: #FFFFFF;
  list-style: none;
  padding: 0 21px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 21.17px;
  text-decoration: none;
}
.navigation__link:hover {
  color: #cdcdcd;
  opacity: 1;
  text-decoration: underline;
}

::placeholder {
  color: #F2785C;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  line-height: 28.8px;
}

.button {
  padding: 10px 30px;
  color: #FFFFFF;
  background-color: #0D606F;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 21.17px;
}
.button:hover {
  color: #cdcdcd;
  text-decoration: underline;
  cursor: pointer;
}
.button_long {
  height: 59px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-top: 15px;
  padding-right: 37px;
  padding-left: 30px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 31.75px;
}
@media (max-width: 390px) {
  .button_long {
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;
    height: 30px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px;
  }
}
.button_long::before {
  content: " ";
  background-image: url(../images/arrow.svg);
  display: block;
  width: 35px;
  height: 22.5px;
  margin: 10px 10px 9.5px 5px;
}
@media (max-width: 390px) {
  .button_long::before {
    background-image: url(../images/arrow-mobile.svg);
    display: block;
    width: 8.75px;
    height: 5.6px;
    margin: 10px 4px 9.5px 5px;
  }
}

.preview__button {
  position: absolute;
  font-size: 24px;
  right: 18px;
  top: 18px;
  bottom: 18px;
  padding: 13.5px 32.5px;
  z-index: 2;
}
@media (max-width: 390px) {
  .preview__button {
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;
    width: 92px;
    right: 9px;
    top: 9px;
    bottom: 9px;
    padding: 7.5px 9px;
  }
}

.burger {
  display: none;
}
@media (max-width: 390px) {
  .burger {
    margin-right: 5px;
    position: relative;
    display: block;
    cursor: pointer;
    z-index: 10;
    width: 30px;
    height: 15px;
    margin-bottom: 6px;
  }
}

@media (max-width: 390px) {
  .burger._active {
    margin-right: 106px;
    top: -20px;
    width: 30px;
    height: 15px;
  }
}

@media (max-width: 390px) {
  .burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
}

@media (max-width: 390px) {
  .burger._active:before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    width: 20px;
  }
}

@media (max-width: 390px) {
  .burger._active:after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    width: 20px;
  }
}

.burger:after,
.burger:before,
.burger span {
  left: 0;
  height: 2px;
  width: 26px;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 5px;
  transition: 0.3s;
}

.burger:after,
.burger:before {
  content: "";
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 390px) {
  .wrapper {
    padding: 0 15px;
    margin: 0;
  }
}

header {
  background-image: url(../images/main.jpg);
  height: 765px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}
@media (max-width: 390px) {
  header {
    background-image: url(../images/main-mobile.jpg);
    height: 251px;
    overflow-x: hidden;
  }
}

.header {
  background-color: #F2785C;
  box-shadow: 0px 4px 4px #0D606F;
  background: rgba(242, 120, 92, 0.7);
  padding: 25px 0 24px 0;
}
@media (max-width: 390px) {
  .header {
    background: none;
    box-shadow: none;
    padding-top: 45px;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 390px) {
  .header__wrapper {
    padding: 0 16px;
  }
}
.header__mobile-logo {
  display: none;
}
@media (max-width: 390px) {
  .header__mobile-logo {
    display: block;
    left: 16px;
  }
}
.header__logo {
  font-family: "Magra", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  line-height: 38.8px;
}
@media (max-width: 390px) {
  .header__logo {
    display: none;
  }
}
.header__logo:hover {
  color: #cdcdcd;
  opacity: 1;
  text-decoration: underline;
}
.header__logo::before {
  content: " ";
  background-image: url(../images/logo.svg);
  height: 30px;
  width: 30px;
  display: block;
  margin-right: 6px;
}
@media (max-width: 390px) {
  .header__button {
    display: none;
  }
}

.navigation {
  display: flex;
  padding-right: 30px;
}
@media (max-width: 390px) {
  .navigation {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-top: 44px;
  }
}
@media (max-width: 390px) {
  .navigation__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 15px;
  }
}

@media (max-width: 390px) {
  .header__navigation {
    position: fixed;
    top: 1px;
    right: 100%;
    width: 165px;
    height: 250px;
    background-color: #F2785C;
    border-radius: 10px;
    z-index: 5;
    transition: left 0.9s ease;
  }
}

@media (max-width: 390px) {
  .header__navigation._active {
    right: 0;
  }
}

.link-mobile {
  display: none;
}
@media (max-width: 390px) {
  .link-mobile {
    display: block;
  }
}

@media (max-width: 390px) {
  body._lock {
    overflow: hidden;
  }
}

@media (max-width: 390px) {
  .block-page._active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.8s all;
  }
}

.preview__content {
  width: 892px;
  padding-top: 30px;
}
@media (max-width: 390px) {
  .preview__content {
    display: none;
  }
}
.preview__text {
  font-family: "Aleo", serif;
  color: #FFFFFF;
  margin: 0;
  padding: 35px 0 46px 0;
  letter-spacing: -0.1px;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  line-height: 24px;
}

.preview__form {
  position: relative;
  width: 892px;
}
@media (max-width: 390px) {
  .preview__form {
    width: auto;
    margin-top: 37px;
  }
}

input {
  width: 100%;
  height: 95px;
  border-radius: 16px;
  padding: 32px 41px;
  line-height: 1;
  box-sizing: border-box;
  border: none;
  filter: opacity(70%);
  outline: none;
  letter-spacing: -0.7px;
}
@media (max-width: 390px) {
  input {
    height: 48px;
    padding: 16px 16px;
    letter-spacing: -0.4px;
  }
}

@media (max-width: 390px) {
  ::placeholder {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 16.8px;
  }
}

.steps__wrapper {
  padding-top: 80px;
  padding-bottom: 50px;
}
@media (max-width: 390px) {
  .steps__wrapper {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}
.steps__icons {
  display: flex;
  justify-content: space-between;
  width: 1177px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (max-width: 390px) {
  .steps__icons {
    width: 360px;
    padding-top: 20px;
    padding-bottom: 4px;
  }
}
@media (max-width: 320px) {
  .steps__icons {
    justify-content: flex-start;
    width: 300px;
  }
}
.steps__icons-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 390px) {
  .steps__icons-inner {
    align-items: flex-start;
  }
}
@media (max-width: 390px) {
  .steps__icons-first {
    align-items: stretch;
    padding: 0px 0px 0px 0px;
    max-width: 75px;
  }
}
.steps__icons-middle {
  margin-left: 66px;
}
@media (max-width: 390px) {
  .steps__icons-middle {
    margin: 0px 0px 0px 16px;
    align-items: center;
  }
}
@media (max-width: 390px) {
  .steps__icons-last {
    align-items: flex-end;
    text-align: right;
    padding: 0px 0px 0px 0px;
    max-width: 90px;
  }
}
.steps__icons-square {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  background-color: #F2785C;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  margin-bottom: 30px;
}
@media (max-width: 390px) {
  .steps__icons-square {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .steps__icons-square object {
    width: 35px;
    height: 31.5px;
  }
}
@media (max-width: 390px) {
  .steps__text-mobile {
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 12px;
  }
}
@media (max-width: 390px) {
  .steps__text-first {
    width: 85px;
  }
}
@media (max-width: 390px) {
  .steps__text-middle {
    width: 111px;
  }
}
@media (max-width: 390px) {
  .steps__text-last {
    margin-left: 43px;
  }
}

.destinations__wrapper {
  padding-top: 17px;
  padding-bottom: 80px;
}
@media (max-width: 390px) {
  .destinations__wrapper {
    width: 360px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .destinations__wrapper {
    width: 300px;
  }
}
.destinations__slider {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  overflow: hidden;
  height: 845px;
  column-gap: 60px;
  padding-top: 46px;
  margin-bottom: 24px;
}
@media (max-width: 390px) {
  .destinations__slider {
    display: none;
    max-width: 92.7%;
  }
}
.destinations__slide {
  transform: translateX(-540px);
}
.destinations__img {
  position: relative;
}
.destinations__text {
  position: absolute;
  top: 718px;
  left: 15px;
}
.destinations__text span {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 42px;
}
.destinations__dots {
  width: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 390px) {
  .destinations__dots {
    display: none;
  }
}
.destinations .dot {
  border: none;
  background-color: #F2785C;
  opacity: 0.5;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 390px) {
  .destinations .dot--active {
    background-color: #F2785C;
    opacity: 1;
  }
}
.destinations__button {
  text-align: center;
  padding-top: 40px;
}
@media (max-width: 390px) {
  .destinations__button {
    padding-top: 10px;
  }
}
.destinations__slider-mobile {
  display: none;
}
@media (max-width: 390px) {
  .destinations__slider-mobile {
    display: block;
    position: relative;
    width: 360px;
    height: 210px;
    overflow: hidden;
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  .destinations__slider-mobile {
    height: 180px;
    width: 300px;
  }
}
.destinations__img-mobile {
  border-radius: 16px;
  position: relative;
}
@media (max-width: 320px) {
  .destinations__img-mobile {
    width: 300px;
  }
}
.destinations__text-mobile {
  position: absolute;
  top: 8px;
  left: 15px;
}
.destinations__text-mobile span {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 26.5px;
}
.destinations__arrow-left {
  position: absolute;
  z-index: 5;
  top: 90px;
  left: 7px;
}
.destinations__arrow-right {
  position: absolute;
  z-index: 5;
  top: 92px;
  left: 332px;
}
@media (max-width: 320px) {
  .destinations__arrow-right {
    left: 270px;
  }
}
.destinations__dots-mobile {
  position: absolute;
  z-index: 5;
  top: 190px;
  left: 162px;
  width: 36px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .destinations__dots-mobile {
    top: 150px;
    left: 132px;
  }
}
.destinations .dot-mobile {
  border: none;
  background-color: #F2785C;
  opacity: 0.5;
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
.destinations .dot-mobile-mobile--active {
  background-color: #F2785C;
  opacity: 1;
}

.stories__wrapper {
  padding-top: 10px;
}
.stories__background {
  background-repeat: no-repeat;
  background-image: url(../images/stories.jpg);
  background-size: cover;
}
@media (max-width: 390px) {
  .stories__background {
    background-image: url(../images/stories-mobile.jpg);
    overflow-x: hidden;
  }
}
.stories__background-opacity {
  background: rgba(255, 255, 255, 0.7);
}
.stories__inner {
  display: flex;
  padding-top: 30px;
  column-gap: 40px;
}
@media (max-width: 390px) {
  .stories__inner {
    column-gap: 10px;
    padding-top: 0px;
    padding-bottom: 15px;
  }
}
@media (max-width: 390px) {
  .stories__inner-last {
    padding-bottom: 10px;
  }
}
@media (max-width: 390px) {
  .stories__inner__content {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }
}
.stories__title {
  padding-bottom: 40px;
}
@media (max-width: 390px) {
  .stories__title {
    padding-bottom: 10px;
  }
}
.stories__img {
  border-radius: 16px;
  box-shadow: 0px 4px 4px #0D606F;
}
@media (max-width: 390px) {
  .stories__img {
    width: 155px;
    height: 130px;
  }
}
.stories__link {
  color: #0D606F;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}
@media (max-width: 390px) {
  .stories__link {
    font-size: 9px;
    font-weight: 700;
    font-style: normal;
    line-height: 11px;
  }
}
.stories__button {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 390px) {
  .stories__button {
    padding-top: 0px;
    padding-bottom: 13px;
  }
}
@media (max-width: 390px) {
  .stories__text {
    display: none;
  }
}
.stories__mobile-text {
  display: none;
}
@media (max-width: 390px) {
  .stories__mobile-text {
    display: block;
    font-size: 9px;
    font-weight: 400;
    font-style: normal;
    line-height: 11px;
  }
}

footer {
  background-size: cover;
  height: 61px;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (max-width: 390px) {
  footer {
    background-image: url(../images/footer-mobile.jpg);
    height: 65px;
    overflow-x: hidden;
  }
}

.footer {
  width: 729px;
  display: flex;
  height: 33.65px;
  justify-content: space-between;
}
@media (max-width: 390px) {
  .footer {
    width: 350px;
  }
}
.footer__wrapper {
  padding-top: 18px;
  display: flex;
  justify-content: end;
}
@media (max-width: 390px) {
  .footer__wrapper {
    padding-top: 15px;
    width: 390px;
  }
}
.footer__text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 21.17px;
  width: 260px;
  height: 21px;
  align-items: center;
  padding-top: 6.3px;
}
@media (max-width: 390px) {
  .footer__text {
    display: none;
  }
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 141px;
}
@media (max-width: 390px) {
  .footer__icons {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
