.burger {
 display: inline-block;
    cursor: pointer;
    z-index: 5;
    padding-bottom: 7px;
    margin-right: 9px;
}

.burger-bar{
     width: 26px;
    height: 2.6px;
   background-color: $color-white;
   border-radius: 5px;
    margin: 5px 0;
    transition: 0.3s;
}